body {
    font-family: 'Arvo', serif;
    background-color: black;
    min-width: 422px;
    color: white;
    padding: 0 0 0 0;

    height: 2000px;
}




/*mobile view*/
/*AND HOME PAGE*/

.sitelogo {
    height: 75px;
    padding: 15px;
}

.header {
    background-color: #570202;

}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: white;
}

ul {
    vertical-align: middle;
}

li {
    display: inline;

}





.navdiv {
    padding: 0 0 0 10px;
    text-align: center;
}

.navlist {
    display: inline-block;
    list-style: none;
    padding: 15px 0 0 0;
}


/*having navitem in the picture element is important for the vertacle allign to work*/
.navitem {
    padding: 0px 5px 0px 5px;
    font-size: 20px;
    vertical-align: middle;
}


.navitem a:hover {
    color: white;
}


/*welcome classes mobile*/

.welcomeimage {
    background-image: url(../images/Teal_M_4-4.jpg);
    align-items: center;
    padding: 20px;
}

.welcomeblackbox {

    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.39);
    height: inherit;
    min-width: 200px;
    vertical-align: middle;

}

.welcometext {
    align-items: center;
    justify-content: center;
    padding: 10px;

}

.welcome {
    font-weight: 100;
    font-size: 40px;
}





/* intro text */
.introtext {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    padding: 80px 40px 40px 40px;
    font-size: 25px;
}


/* some photos and images */

.textandphotos {
    min-width: 550px;
    padding: 0 0 0 30px;
    max-width: 600px;
    align-items: center;
    justify-content: center;
}

.phototext {
    font-size: 35px;
    font-weight: 100;
    padding: 0 0 20px 50px;
}

.textphotos {
    align-items: center;
    justify-content: center;
}

.examplepicmobile {
    height: 163px;

}




















/*portfolio link*/

.portimage {
    background-image: url(../images/Teal_M_4-4.jpg);
    margin: 200px 0 0 0;
    padding: 20px 0 20px 0;
}

.portbackground {
    background-color: rgba(0, 0, 0, 0.39);
}

.porttext {
    text-align: center;
    padding: 15px 0 15px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

.porttext a:hover {
    text-decoration: none;
    color: white;
}























/*Home link for all pages execpt for home*/

.homelinkdiv {
    float: right;
    padding: 300px 200px 0 0;
}

.homelink {
    color: white;
    font-size: 20px;
}

.homelinkdiv a:hover {
    color: white;
}

.homelink a:hover {
    text-decoration: none;
    color: white;
}



/*FOOTER*/

.footdiv {
    /*Important leave alone*/
    position: absolute;
    bottom: -1800px;
    background-color: white;
    display: inline-block;
    width: 100%;


}

.thefoot {
    font-size: 30px;
    color: #020557;
    vertical-align: middle;
    text-align: center;
}


.foottext {
    justify-content: center;
    align-items: center;
    padding: 0 0 0 30px;


}

































/*ABOUT PAGE*/

.abouttitle {
    padding: 30px 0 0 30px;
    font-size: 40px;
}


.thetwoabouthings {
    /*nothing*/
}





.abouttext {
    max-width: 600px;
    padding: 50px 20px 0 30px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*equipment photos*/
.equipmentphotos {
    padding: 30px;
    min-width: 500px;
}

.profileimage {
    height: 200px;
}

.camerimage {
    height: 200px;
}
























/* CONTACT PAGE*/

/*contact text*/

.contacttitle {
    padding: 30px 0 0 30px;
    font-size: 40px;
}

.contactinfoh3 {
    padding: 30px 0 0 30px;
    font-size: 25px;

}

.myinfoblock {
    font-size: 22px;
    padding: 30px 0 0 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



/*FORM*/

input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*submit button*/
input[type=submit]:hover {
    background-color: #b4b4b4;
}

/* background color*/
.formcontainer {
    max-width: 1200px;
    border-radius: 5px;
    background-color: #000000;
    padding: 60px 20px 20px 20px;
}










/*POTFOLIO PAGE*/


/*containers*/

.prtfoliocontainer {
    margin: 0 0 0 50px;
}


.porfolioimages {
    margin: auto;
    width: 50%;
    max-width: 451px;
    resize: vertical;


}

.mobileport {
    visibility: visible;
}


.fullport {
    visibility: hidden;
}




/*images themselves*/

.portfolioimg {
    height: 300px;

}
































/*desktop media Queries*/

@media only screen and (min-width: 1200px) {
    body {
        background-color: rgb(0, 0, 0);
    }



    .navdiv {
        text-align: start;
    }

    .navlist {
        text-align: start;
    }




    .thefoot {
        text-align: left;
    }





    /*home photos*/

    .examplepicmobile {
        height: 300px;

    }

    .textandphotos {
        min-width: 550px;
        padding: 0 0 0 30px;
        max-width: 1000px;
        align-items: center;
        justify-content: center;
    }





    /*about page*/

    .thetwoabouthings {
        display: grid;

        grid-template-columns: 2;
        grid-template-rows: 1;

        grid:

            "abouttext equipmentphotos";
    }

    .profileimage {
        height: 300px;
    }

    .camerimage {
        height: 300px;
    }









    /*PORTFOLIO*/


    .prtfoliocontainer {
        padding: 100px 0 0 0;
    }


    .porfolioimages {

        /*test with this*/

        margin: 0px;
        max-width: 300px;
        resize: vertical;

        /**/

        display: grid;

        grid-template-columns: 4;
        grid-template-rows: 2;

        grid:

            "port1 port2 port3 port4"
            "port5 port6 port7 port8"
        ;


    }


    .portfolioimg {
        width: 100px;
        width: auto;
    }


    .fullport {
        visibility: visible;
    }











}


































/*sorry nothing*/
